* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .container h1 {
    text-align: center; }
  .container .row {
    width: 100%;
    display: flex;
    margin: 0 auto; }
    .container .row .subMenuList {
      width: 100%;
      flex: 2;
      border-right: 1px solid #ddd; }
      @media (max-width: 800px) {
        .container .row .subMenuList {
          display: none; } }
      .container .row .subMenuList ul {
        width: 100%; }
        .container .row .subMenuList ul li {
          overflow: hidden;
          transition: .4s; }
          .container .row .subMenuList ul li span {
            float: right; }
          .container .row .subMenuList ul li a {
            display: block;
            color: #333;
            font-size: 16px;
            transition: .4s;
            padding: 0.4rem 1em; }
        .container .row .subMenuList ul :hover {
          background-color: #ddd; }
        .container .row .subMenuList ul :hover a {
          color: #a81f00; }
  .container .col {
    width: 100%;
    flex: 8;
    padding: 32px 0; }
    .container .col #article #line {
      padding: 0 2em; }
      .container .col #article #line h1 {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
        font-weight: normal;
        word-break: keep-all; }
      .container .col #article #line .list hr {
        border: 0;
        height: 1px;
        background-color: #ddd;
        margin: 1.2rem 0; }
      .container .col #article #line .list > .box {
        display: flex; }
        @media (max-width: 800px) {
          .container .col #article #line .list > .box {
            flex-wrap: wrap;
            justify-content: center; } }
        .container .col #article #line .list > .box .left {
          margin: 0 1rem;
          width: 16%; }
          @media (max-width: 800px) {
            .container .col #article #line .list > .box .left {
              width: 100%; } }
          .container .col #article #line .list > .box .left > h2 {
            display: flex;
            word-break: keep-all; }
            @media (max-width: 800px) {
              .container .col #article #line .list > .box .left > h2 {
                justify-content: center;
                margin-bottom: 1.2rem; } }
            @media (max-width: 1000px) {
              .container .col #article #line .list > .box .left > h2 {
                text-align: center; } }
            .container .col #article #line .list > .box .left > h2 > span {
              display: block;
              font-size: 1rem;
              background-color: #f0e8ec;
              padding: 1rem;
              border-radius: 30px; }
        .container .col #article #line .list > .box .right > p {
          word-break: keep-all; }
          @media (max-width: 800px) {
            .container .col #article #line .list > .box .right > p {
              text-align: center; } }
        .container .col #article #line .list > .box .right p:not(:nth-of-type(3n)) {
          margin-bottom: 6px; }

/*# sourceMappingURL=sub_d1.css.map */
