* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;
  max-width: 1200px;

  .row {
    width:100%;
    padding:0 2rem;
    display:flex;
    margin:0 auto;

    .subMenuList {
       flex:2;
       border-right: 1px solid #ddd;
       @media (max-width: 800px) {
         display: none;
       }
       ul {
          width:100%;
          li {
            overflow:hidden;
            padding:8px 0;
            transition: .4s;
          span { float:right;}
            a {
              display:block;
              color:#333;
              font-size: 16px;
              transition: .4s;
              padding:0 1em;
            }
          }
          :hover { background-color: #ddd; }
          :hover a { color:red; }
        }
      }

      .subArticle {
         flex:8;
         padding:32px 0;

         #article {
           #line { padding:0 2em;
             @media (max-width: 800px) {
               padding: 0;
             }
           }

           h1 {
             width:100%;
             font-size: 2rem;
             text-align: center;
             padding:2rem 0;
             font-weight: normal;
           }
           h2 {
             margin:0 auto;
             width:70%;
             img { width:100%; }
           }

           .project01 {
             margin-top: 50px;
             width:100%;
             display: flex;
             justify-content: space-between;
             @media (max-width: 480px) {
               flex-direction: column;
             }

             .box1 {
               width:48%; height: 205px;
               background-color: #F5F0EA;
               border-radius: 5%;
               text-align: center;
               padding:0 5%;
               @media (max-width: 480px) {
                 width:100%;
               }

               h2  { font-size: 16px; padding:30px 0; }
               .line2 { margin: 0 auto; width: 100%; height:2px; background-color:#aaa; }
               h3 { font-weight: normal; padding:30px 0; font-size: 16px; }
             }
             .box2 {
               width:48%; height: 205px;
               background-color: #F5F0EA;
               border-radius: 5%;
               text-align: center;
               padding:0 5%;
               @media (max-width: 480px) {
                 width:100%;
                 margin-top: 50px;

               }

              h2 {  font-size: 16px; padding:30px 0; }
               .line2 { margin: 0 auto; width: 100%; height:2px; background-color:#aaa; }
               h3 { font-weight: normal; padding:30px 0; font-size: 16px;}
             }
           }
           .project02 {
             margin-top: 50px;
             width:100%;
             display: flex;
             justify-content: space-between;
             @media (max-width: 480px) {
               flex-direction: column;
             }

             .box3 {
               width: 48%; height: 205px;
               background-color: #F5F0EA;
               border-radius: 5%;
               text-align: center;
               padding:0 5%;
               @media (max-width: 480px) {
                 width:100%;
               }


               h2  { font-size: 16px; padding:30px 0; }
               .line2 { margin: 0 auto; width: 100%; height:2px; background-color:#aaa; }
               h3 { font-weight: normal; padding:30px 0; font-size: 16px; }
             }
             .box4 {
               width: 48%; height: 205px;
               background-color: #F5F0EA;
               border-radius: 5%;
               text-align: center;
               padding:0 5%;
               @media (max-width: 480px) {
                 width:100%;
                 margin-top: 50px;

               }

              h2 {  font-size: 16px; padding:30px 0; }
               .line2 { margin: 0 auto; width: 100%; height:2px; background-color:#aaa; }
               h3 { font-weight: normal; padding:30px 0; font-size: 16px;}
             }
           }
           .project03 {
             margin-top: 50px;
             width:100%;
             display: flex;
             justify-content: space-between;
             @media (max-width: 480px) {
               flex-direction: column;
             }

             .box5 {
               width: 48%; height: 205px;
               background-color: #F5F0EA;
               border-radius: 5%;
               text-align: center;
               padding:0 5%;
               @media (max-width: 480px) {
                 width:100%;
               }

              h2 {  font-size: 16px; padding:30px 0; }
               .line2 { margin: 0 auto; width: 100%; height:2px; background-color:#aaa; }
               h3 { font-weight: normal; padding:30px 0; font-size: 16px;}
             }
           }
         }
       }
    }
  }
