* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;
  max-width: 1200px;
  h1 { text-align: center;}

  .row {
    width:100%;
    display:flex;
    margin:0 auto;


    .subMenuList {
      width:100%;
      flex:2;
      border-right: 1px solid #ddd;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        width:100%;
        li {
          overflow:hidden;
          transition: .4s;
        span { float:right;}
          a {
            display:block;
            color:#333;
            font-size: 16px;
            transition: .4s;
            padding:0.4rem 1em;
          }
        }
        :hover { background-color: #ddd; }
        :hover a { color:#a81f00; }
      }
    }
  }

  .col {
    width:100%;
    flex:8;
    padding:32px 0;

    #article {
      padding:0 2em;

      #line {
        @media (max-width: 800px) {
          padding: 0;
        }
      }

      h1 {
        width:100%;
        font-size: 2rem;
        text-align: center;
        padding:2rem 0;
        font-weight: normal;
      }

      .sub_a4Container {
        width: 100%;
        text-align: center;
        // position: relative;

        section {
          width: 100%;
          display: flex;
          justify-content: center;
          p {
            background-color: #ddd;
            padding: 15px 0;
            width: 100%;
          }
          .line {

          }
        }
        .sec2, .sec4, .sec5 {
          width: 100%;
          div {
            p {
              width: 50%;
            }

          }
        }
      }

    }
  }
}
