* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

li { list-style: none; }

a { text-decoration: none; color: #333; }

.container { margin: 0 auto; width: 100%; max-width: 1200px; }
.container .row { width: 100%; padding: 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 auto; }
.container .row .subMenuList { -webkit-box-flex: 2; -ms-flex: 2; flex: 2; border-right: 1px solid #ddd; }
@media (max-width: 800px) { .container .row .subMenuList { display: none; } }
.container .row .subMenuList ul { width: 100%; }
.container .row .subMenuList ul li { overflow: hidden; padding: 8px 0; -webkit-transition: .4s; transition: .4s; }
.container .row .subMenuList ul li span { float: right; }
.container .row .subMenuList ul li a { display: block; color: #333; font-size: 16px; -webkit-transition: .4s; transition: .4s; padding: 0 1em; }
.container .row .subMenuList ul :hover { background-color: #ddd; }
.container .row .subMenuList ul :hover a { color: red; }
.container .row .subArticle { -webkit-box-flex: 8; -ms-flex: 8; flex: 8; padding: 32px 0; }
.container .row .subArticle #article #line { padding: 0 2em; }
@media (max-width: 800px) { .container .row .subArticle #article #line { padding: 0; } }
.container .row .subArticle #article h1 { width: 100%; font-size: 2rem; text-align: center; padding: 2rem 0; font-weight: normal; }
.container .row .subArticle #article h2 { margin: 0 auto; width: 70%; }
.container .row .subArticle #article h2 img { width: 100%; }
.container .row .subArticle #article .project01 { margin-top: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 480px) { .container .row .subArticle #article .project01 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
.container .row .subArticle #article .project01 .box1 { width: 48%; height: 205px; background-color: #F5F0EA; border-radius: 5%; text-align: center; padding: 0 5%; }
@media (max-width: 480px) { .container .row .subArticle #article .project01 .box1 { width: 100%; } }
.container .row .subArticle #article .project01 .box1 h2 { font-size: 16px; padding: 30px 0; }
.container .row .subArticle #article .project01 .box1 .line2 { margin: 0 auto; width: 100%; height: 2px; background-color: #aaa; }
.container .row .subArticle #article .project01 .box1 h3 { font-weight: normal; padding: 30px 0; font-size: 16px; }
.container .row .subArticle #article .project01 .box2 { width: 48%; height: 205px; background-color: #F5F0EA; border-radius: 5%; text-align: center; padding: 0 5%; }
@media (max-width: 480px) { .container .row .subArticle #article .project01 .box2 { width: 100%; margin-top: 50px; } }
.container .row .subArticle #article .project01 .box2 h2 { font-size: 16px; padding: 30px 0; }
.container .row .subArticle #article .project01 .box2 .line2 { margin: 0 auto; width: 100%; height: 2px; background-color: #aaa; }
.container .row .subArticle #article .project01 .box2 h3 { font-weight: normal; padding: 30px 0; font-size: 16px; }
.container .row .subArticle #article .project02 { margin-top: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 480px) { .container .row .subArticle #article .project02 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
.container .row .subArticle #article .project02 .box3 { width: 48%; height: 205px; background-color: #F5F0EA; border-radius: 5%; text-align: center; padding: 0 5%; }
@media (max-width: 480px) { .container .row .subArticle #article .project02 .box3 { width: 100%; } }
.container .row .subArticle #article .project02 .box3 h2 { font-size: 16px; padding: 30px 0; }
.container .row .subArticle #article .project02 .box3 .line2 { margin: 0 auto; width: 100%; height: 2px; background-color: #aaa; }
.container .row .subArticle #article .project02 .box3 h3 { font-weight: normal; padding: 30px 0; font-size: 16px; }
.container .row .subArticle #article .project02 .box4 { width: 48%; height: 205px; background-color: #F5F0EA; border-radius: 5%; text-align: center; padding: 0 5%; }
@media (max-width: 480px) { .container .row .subArticle #article .project02 .box4 { width: 100%; margin-top: 50px; } }
.container .row .subArticle #article .project02 .box4 h2 { font-size: 16px; padding: 30px 0; }
.container .row .subArticle #article .project02 .box4 .line2 { margin: 0 auto; width: 100%; height: 2px; background-color: #aaa; }
.container .row .subArticle #article .project02 .box4 h3 { font-weight: normal; padding: 30px 0; font-size: 16px; }
.container .row .subArticle #article .project03 { margin-top: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 480px) { .container .row .subArticle #article .project03 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
.container .row .subArticle #article .project03 .box5 { width: 48%; height: 205px; background-color: #F5F0EA; border-radius: 5%; text-align: center; padding: 0 5%; }
@media (max-width: 480px) { .container .row .subArticle #article .project03 .box5 { width: 100%; } }
.container .row .subArticle #article .project03 .box5 h2 { font-size: 16px; padding: 30px 0; }
.container .row .subArticle #article .project03 .box5 .line2 { margin: 0 auto; width: 100%; height: 2px; background-color: #aaa; }
.container .row .subArticle #article .project03 .box5 h3 { font-weight: normal; padding: 30px 0; font-size: 16px; }

/*# sourceMappingURL=sub_c3.css.map */