* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;
  max-width: 1200px;
  h1 { text-align: center;}

  .row {
    width:100%;
    display:flex;
    margin:0 auto;


    .subMenuList {
      width:100%;
      flex:2;
      border-right: 1px solid #ddd;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        width:100%;
        li {
          overflow:hidden;
          transition: .4s;
        span { float:right;}
          a {
            display:block;
            color:#333;
            font-size: 16px;
            transition: .4s;
            padding:0.4rem 1em;
          }
        }
        :hover { background-color: #ddd; }
        :hover a { color:#a81f00; }
      }
    }
  }

  .col {
    width:100%;
    flex:8;
    padding:32px 0;

    #article {
      padding:0 2em;

      #line {
        @media (max-width: 800px) {
          padding: 0;
        }
      }

      h1 {
        width:100%;
        font-size: 2rem;
        text-align: center;
        padding:2rem 0;
        font-weight: normal;
      }
    }
    .sub_a4Container {
      width: 100%;
      text-align: center;

      section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0;
        p {
          background-color: #eee;
          padding: 15px 10px;
          margin: 5px 0;
          width: 100%;
          word-break: keep-all;
        }
      }
      .sec2, .sec4, .sec5 {
        display: flex;
        justify-content: space-between;
        div {
          width: 49.5%;
        }
      }
      .sec1 {
        position: relative;
        ::before {
          content: "";
          position: absolute;
          top: 10px; left: 50%;
          width: 1px; height: 300px;
          background-color: #ddd;
          display: block;
          z-index: -1;
          transition: all .3s;
          @media (max-width: 440px) {
            height: 380px;
          }
        }
        p {
          background-color: #a50b25;
          color: #fff;
          width: 40%;
          transition: all .3s;
          @media (max-width: 800px) {
             width: 100%;
          }
        }
      }

      .sec2 {
        justify-content: flex-end;
        div {
          width: 40%;
          position: relative;
          .line {
             display: inline-block;
             width: 20%; height: 1px;
             background-color: #ddd;
             position: absolute;
             right: 105%; top:50%;
          }
        }
        div:nth-child(1) { display:none; }
      }
      .sec3 {
        position: relative;
        ::before {
          content: "";
          position: absolute;
          top: 10px; left: 25%;
          width: 1px; height: 490px;
          background-color: #ddd;
          display: block;
          z-index: -1;
        }
        ::after {
          content: "";
          position: absolute;
          top: 10px; right: 25%;
          width: 1px; height: 490px;
          background-color: #ddd;
          display: block;
          z-index: -1;
        }
        p { background-color: #aaa; }
      }
      .sec4 {
        p { background-color: #333; color: #fff; }
      }

    }

  }
}
