* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;
  max-width: 1200px;
  h1 { text-align: center;}

  .row {
    width:100%;
    display:flex;
    margin:0 auto;


    .subMenuList {
      width:100%;
      flex:2;
      border-right: 1px solid #ddd;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        width:100%;
        li {
          overflow:hidden;
          transition: .4s;
        span { float:right;}
          a {
            display:block;
            color:#333;
            font-size: 16px;
            transition: .4s;
            padding:0.4rem 1em;
          }
        }
        :hover { background-color: #ddd; }
        :hover a { color:#a81f00; }
      }
    }
  }

  .col {
    width:100%;
    flex:8;
    padding:32px 0;

    #article {
      #line { padding:0 2em;
        @media (max-width: 800px) {
          padding: 0;
        }
      }

      h1 {
        width:100%;
        font-size: 2rem;
        text-align: center;
        padding:2rem 0;
        font-weight: normal;
      }
      h2 {
        margin:0 auto;
        width:70%;
        img { width:100%; }
      }
      .project {
        width: 100%;
        margin-top: 80px;
        .first { font-weight: bold; margin-bottom:50px;}
        .second {margin-bottom: 50px;}
      }
    }
  }
}
