div {border: 1px solid red;}
* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;

  .row {
    width:1200px;
    display:flex;
    flex-wrap: nowrap;
    margin:0 auto;

    .subMenuList {
      width:30%;
      float:left;
      background-color: pink;

      ul {
        width:240px;
        li {
          list-style: none;

          li:nth-of-type(2) { margin-left: 120px;}
          a {
            display:block;
            text-decoration: none;
            color:#333;
            font-size: 16px;
            transition: .4s;
          }
        }
      }
    }
  }

  .col {
    widht:70%;
    float:right;
    padding:32px 0;

    #article { text-align: left;
      h1 {
        font-size: 2rem;
        text-align: center;
        padding:1rem 0;
        font-weight: normal;
      }
      h2 {
        text-align: center;
        img { width:600px; }
      }
      .project {
        width:450px;
        .first { font-weight: bold;}
        .second {}
        .third {}
      }
    }
  }
}
