div {border: 1px solid red; }
* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;

  .row {
    width:62%;
    display:flex;
    flex-wrap: nowrap;
    margin:0 auto;

    .subMenuList {
      width:30%;
      float:left;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        width:220px;
        li {
          overflow:hidden;
          padding:5px 0;
        span { float:right;}
          a {
            display:block;
            color:#333;
            font-size: 16px;
            transition: .4s;
          }
        }
        :hover { color:red; }
      }
    }
  }

  .col {
    widht:70%;
    float:right;
    padding:32px 0;

    #article {
      .sampleClass { width:80%; }
      #line { padding:0 2em; }
      h1 {
        width:100%;
        font-size: 2rem;
        text-align: center;
        padding:2rem 0;
        font-weight: normal;
      }
      h2 {
        text-align: center;
        width:100%;
        img { width:100%; }
      }
      .project {
        width: 100%;
        margin-top: 80px;
        .first { font-weight: bold; margin-bottom:50px;}
        .second {margin-bottom: 50px;}
      }
    }
  }
}
