* { margin: 0;  padding: 0; box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none; color:#333;}

.container {
  margin:0 auto;
  width:100%;
  max-width: 1200px;

  .row {
    width:100%;
    padding:0 2rem;
    display:flex;
    margin:0 auto;


    .subMenuList {
      flex:2;
      border-right: 1px solid #ddd;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        width:100%;
        li {
          overflow:hidden;
          padding:8px 0;
          transition: .4s;
        span { float:right;}
          a {
            display:block;
            color:#333;
            font-size: 16px;
            transition: .4s;
            padding:0 1em;
          }
        }
        :hover { background-color: #ddd; }
        :hover a { color:red; }
      }
    }
  }

  .col {
    flex:8;
    padding:32px 0;

  }
}
